// @font-faces
@mixin font-face($font-family, $url, $weight, $style) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('#{$url}.eot');
		src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
		url('#{$url}.woff#') format('woff'),
		url('#{$url}.ttf#') format('truetype'),
		url('#{$url}.svg##{$font-family}') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin breakpoint($media-query){
    $breakpoint-found: false;

    @each $breakpoint in $breakpoints{
        $name: nth($breakpoint, 1);
        $declaration: nth($breakpoint, 2);

        @if $media-query == $name and $declaration{
            $breakpoint-found: true;

            @media only screen and #{$declaration}{
                @content;
            }
        }
    }

    @if $breakpoint-found == false{
        @warn "Breakpoint ‘#{$media-query}’ does not exist"
    }
}