body
{
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 1.4em;
	line-height: 1.625em;
	color: $base;

	// @include breakpoint(lap) 		{ font-size: 1.4em; }
	@include breakpoint(desk) 		{ font-size: 1.6em; }
	// @include breakpoint(desk_big) 	{ font-size: 1.8em; }
}

h1, .h1
{
	font-size: 3em;
	line-height: 1em;
	font-weight: 700;
	margin: 0 0 .5em 0;
	color: $primary;
}

h2, .h2
{
	font-size: 2em;
	line-height: 1.5em;
	font-weight: 700;
	margin: 0 0 .5em 0;
	color: $secondary;
}

h3, .h3
{
	font-size: 1.75em;
	line-height: 1.5em;
	font-weight: 700;
	margin: 0 0 .5 0;
	color: $secondary;
}

h4, .h4
{
	font-size: 1.25em;
	line-height: 1.5em;
	font-weight: 700;
	margin: 0 0 .25em 0;
	text-transform: uppercase;
	color: $accent;
}

p, .p, ul, ol
{
	font-size: inherit;
	line-height: inherit;
	margin: 0 0 1em 0;
	color: inherit;
}

a
{
	color: inherit;
	text-decoration: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}