// Site-specific global variables
$max-width: 1280px;

// colors
$base:			#666666;
$primary: 		#666666;
$secondary:		#999999;
$accent: 		#78edd0;

// global breakpoints
$breakpoints: (
    'palm' '(max-width: 480px)',
    'lap' '(min-width: 481px) and (max-width: 1023px)',
    'portable' '(max-width: 1023px)',
    'desk' '(min-width: 1024px)',
    'desk_big' '(min-width: 1150px)'
);