<!--[if gte IE 9]><!DOCTYPE html><![endif]-->
<!--[if !IE]> --><!DOCTYPE html><!-- <![endif]-->

{{#if config.javascriptEnabled}}
<html>
{{else}}
<html class="no-js">
{{/if}}

<head>
	
	<title>LinacQA {{#if title}} | {{ title }} {{/if}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<!-- Local styles -->
	<link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css" />

	<base href="/">

</head>
<body>

	<!-- Content here -->
	<div class="wrapper">

		<header class="main">
			
			<div class="contain">

				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li>/</li>
					<li><a href="/about">About</a></li>
					<li>/</li>
					<li><a href="/signup">Sign Up</a></li>
					<li>/</li>
					<li><a href="/login">Login</a></li>
				</ul>

				<br />
				<hr />

			</div>

		</header>
	
		{{{ body }}}

		<footer>

			<div class="contain">
				
				<br />
				<hr />

				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li>/</li>
					<li><a href="/about">About</a></li>
				</ul>

			</div>

		</footer>

	</div>

	{{#if config.javascriptEnabled}}
		{{#if config.dev}}
			{{#each imports.scripts}}
			<script type="text/javascript" src="{{this}}"></script>{{/each}}
		{{else}}
		<script type="text/javascript" src="{{imports.compressed}}"></script>
		{{/if}}
	{{/if}}


</body>
</html>